.header {
  background: #f5f8f8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height:20;
  box-shadow: 10px 10px 5px #aaaaaa;
}

#message{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(8, 8, 8);
    text-align: center;
  
} 
